body {
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 1.2;
    background-color: #faf8ef;
    color: #303030;
}

#hs-container {
    width: 100%;
    /*Actually bad*/
    text-align: center;
}

#hs-landing-page {
    width: 600px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
}

.hs-landing-item {
    padding-top: 5px;
    text-align: center;
}

.hs-landing-item ul {
    padding-left: 15px;
}

.hs-landing-item li {
    margin: 0 0 3px 0;
    text-align: left;
}

.hs-landing-vertical {
    border-left: 1px solid #d8d4d0;
    margin: 0px 30px;
}

h1 {
    text-align: center;
    margin: 0;
}

p {
   text-align: justify;
}

#suggestions ol {
    list-style-type: none;
    padding: 0px;
}

#suggestions li {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    width: 300px;
    height: 450px;
    border: 1px solid transparent;
}

#suggestions .selected img {
    transform: scale(1.2);
    transition: ease-in-out 0.1s;
}

#suggestions .selected .suggestion-text {
    text-decoration: underline;
}

#suggestions img {
    transform: scale(1);
    transition: ease-in-out 0.1s;
}

.suggestion-image {
    z-index: 2;
    position: absolute;
}

.suggestion-text {
    z-index: -1;
    position: absolute;
    top: 420px;
    width: 300px;
}

.suggestion-inner-img {
    height: 450px;
}

#endgame {
    display: none;
    padding-top: 10px;
}

#current-score {
    font-size: 2em;
    padding: 15px 0px 30px 0px;
}

#hs-timer {
    font-size: 2em;
    padding: 5px;
}

#controls button {
    padding: 10px;
    background-color: #B19670;
    border: 1px solid #6E5839;
    color:#faf8ef;
    text-decoration:none;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
}

#endgame button {
    padding: 10px;
    margin-bottom: 30px;
    background-color: #B19670;
    border: 1px solid #6E5839;
    color:#faf8ef;
    text-decoration:none;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
}

#card-guess {
    font-size: 2em;
    margin: 10px;
}

#mobile {
  display: none;
}

@media(max-width: 1024px) {
  #mobile {
    display: block;
  }
  #hs-container {
    display: none;
  }
}

.newgame-help-blanket {
    width: calc(100% - 420px);
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    margin: 20px auto;
    border-radius: 20px;
}

.newgame-help-text {
    color: #fff;
    width: 100%;
    align-self: flex-end;
}

.newgame-help-button {
    align-self: flex-start;
    margin-top: 20px;
}